html, body {background:#ccc; padding: 0; margin: 0;}

section {display: flex; flex-flow: column;}

section div {width:100%; padding: 10em; background: #411d1d; color:#ccc; box-sizing: border-box;}


@media (min-width: 640px){

    html {background:#ccc}

section {display: flex; flex-flow: row;}

section div {padding: 1em; background: #b42929; color: #fff; flex-grow: 1; }
    
    }
    
    @media (min-width: 768px){
    
    ...
    
    }
    
    @media (min-width: 1024px){
    
    ...
    
    }
    
    @media (min-width: 1200px){
    
    ...
    
    }